# Servicemenu image converter
#
# Copyright (C) 2005,2006  Charles Bouveyron <charles.bouveyron@free.fr>
# 
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, U

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,image/*
Actions=Rcprs75;Rcprs80;Rcprs90;RcprsCustom;_SEPARATOR_;Rsize300;Rsize600;Rsize800;Rsize1024;Rsize1200;Rsize1400;RsizeCustom;_SEPARATOR_;WebExp75640;WebExp75800;WebExp751024
Encoding=UTF-8
X-KDE-Submenu=Kim - Compress and Resize
X-KDE-Submenu[de]=Kim - Bildgröße ändern
X-KDE-Submenu[fr]=Kim - Compresser et redimensionner
X-KDE-Submenu[nl]=Kim - Comprimeren en grootte aanpassen
X-KDE-Submenu[zh_TW]=Kim - 壓縮與調整大小

[Desktop Action Rcprs75]
Name=Compress at 75 %
Name[de]=Bildqualität auf 75% setzen
Name[fr]=Compresser à 75 %
Name[nl]=75% comprimeren
Name[zh_TW]=壓縮到 75%
Icon=application-x-compress
Exec=kim_compress 75 %D %U

[Desktop Action Rcprs80]
Name=Compress at 80 %
Name[de]=Bildqualität auf 80% setzen
Name[fr]=Compresser à 80 %
Name[nl]=80% comprimeren
Name[zh_TW]=壓縮到 80%
Icon=application-x-compress
Exec=kim_compress 80 %D %U

[Desktop Action Rcprs90]
Name=Compress at 90 %
Name[de]=Bildqualität auf 90% setzen
Name[fr]=Compresser à 90 %
Name[nl]=90% comprimeren
Name[zh_TW]=壓縮到 90%
Icon=application-x-compress
Exec=kim_compress 90 %D %U

[Desktop Action RcprsCustom]
Name=Compress Custom...
Name[de]=Bildqualität individuell festlegen
Name[fr]=Compression personnalisée
Name[nl]=Geavanceerd…
Name[zh_TW]=自訂壓縮比例
Icon=application-x-compress
Exec=kim_compress `kdialog --inputbox "Compression rate:" 60` %D %U


[Desktop Action Rsize300]
Name=Resize (300x225 pixels)
Name[de]=Bildabmessungen ändern: 300x225 Pixel
Name[fr]=Redimensionner (300x225 pixels)
Name[nl]=Grootte aanpassen (300x225 pixels)
Name[zh_TW]=調整大小（300x225 像素）
Icon=transform-crop-and-resize
Exec=kim_resize 300x300 %D %U

[Desktop Action Rsize600]
Name=Resize (600x450 pixels)
Name[de]=Bildabmessungen ändern: 600x450 Pixel
Name[fr]=Redimensionner (600x450 pixels)
Name[nl]=Grootte aanpassen (600x450 pixels)
Name[zh_TW]=調整大小（600x450 像素）
Icon=transform-crop-and-resize
Exec=kim_resize 600x600 %D %U

[Desktop Action Rsize800]
Name=Resize (800x600 pixels)
Name[de]=Bildabmessungen ändern: 800x600 Pixel
Name[fr]=Redimensionner (800x600 pixels)
Name[nl]=Grootte aanpassen (800x600 pixels)
Name[zh_TW]=調整大小（800x600 像素）
Icon=transform-crop-and-resize
Exec=kim_resize 800x800 %D %U

[Desktop Action Rsize1024]
Name=Resize (1024x768 pixels)
Name[de]=Bildabmessungen ändern: 1024x768 Pixel
Name[fr]=Redimensionner (1024x768 pixels)
Name[nl]=Grootte aanpassen (1024x768 pixels)
Name[zh_TW]=調整大小（1024x768 像素）
Icon=transform-crop-and-resize
Exec=kim_resize 1024x1024 %D %U

[Desktop Action Rsize1200]
Name=Resize (1200x900 pixels)
Name[de]=Bildabmessungen ändern: 1200x900 Pixel
Name[fr]=Redimensionner (1200x900 pixels)
Name[nl]=Grootte aanpassen (1200x900 pixels)
Name[zh_TW]=調整大小（1200x900 像素）
Icon=transform-crop-and-resize
Exec=kim_resize 1200x1200 %D %U

[Desktop Action Rsize1400]
Name=Resize (1400x1050 pixels)
Name[de]=Bildabmessungen ändern: 1400x1050 Pixel
Name[fr]=Redimensionner (1400x1050 pixels)
Name[nl]=Grootte aanpassen (1400x1050 pixels)
Name[zh_TW]=調整大小（1400x1050 像素）
Icon=transform-crop-and-resize
Exec=kim_resize 1400x1400 %D %U

[Desktop Action RsizeCustom]
Name=Resize Custom...
Name[de]=Bildabmessungen individuell ändern...
Name[fr]=Redimensionnement personnalisé
Name[nl]=Geavanceerd…
Name[zh_TW]=自訂調整大小
Icon=transform-crop-and-resize
Exec=kim_resize `kdialog --inputbox "Resize dimension (max width x max height):" 300x300` %D %U

[Desktop Action WebExp75640]
Name=WebExport: 600x450 at 75 %
Name[de]=für Internetseiten: 600x450 bei 75%
Name[fr]=Pour le web : 600x450 à 75 %
Name[nl]=Webafbeelding (600x450 pixels, 75%)
Name[zh_TW]=網頁匯出：600x450 比例 75%
Icon=applications-development-web
Exec=kim_webexport 600x600 %D %U

[Desktop Action WebExp75800]
Name=WebExport: 800x600 at 75 %
Name[de]=für Internetseiten: 800x600 bei 75%
Name[fr]=Pour le web : 800x600 à 75 %
Name[nl]=Webafbeelding (800x600 pixels, 75%)
Name[zh_TW]=網頁匯出：800x600 比例 75%
Icon=applications-development-web
Exec=kim_webexport 800x800 %D %U

[Desktop Action WebExp751024]
Name=WebExport: 1024x768 at 75 %
Name[de]=für Internetseiten: 1024x768 bei 75%
Name[fr]=Pour le web : 1024x768 à 75 %
Name[nl]=Webafbeelding (1024x768 pixels, 75%)
Name[zh_TW]=網頁匯出：1024x768 比例 75%
Icon=applications-development-web
Exec=kim_webexport 1024x1024 %D %U
