# Servicemenu image converter
#
# Copyright (C) 2005,2006  Charles Bouveyron <charles.bouveyron@free.fr>
# 
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, U

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,image/*
Actions=Rename;SortByDate;SendByMail;_SEPARATOR_;PeleMele;Galery;_SEPARATOR_;Watermark;Border;_SEPARATOR_;Animation;Multiburst;Adjoin;_SEPARATOR_;License;Apropos;
Encoding=UTF-8
X-KDE-Submenu=Kim – Treatment and publication
X-KDE-Submenu[fr]=Kim – Traitement et publication
X-KDE-Submenu[nl]=Kim – Aanpassen en publiceren
X-KDE-Submenu[zh_TW]=Kim – 處理與發布

[Desktop Action Galery]
Name=Create a html gallery
Name[fr]=Créer un album en html
Name[nl]=HTML-galerij samenstellen
Name[zh_TW]=建立 HTML 藝廊
Icon=applications-development-web
Exec=kim_galery %U

[Desktop Action PeleMele]
Name=Create a photo montage
Name[fr]=Créer un pèle-mèle
Name[nl]=Fotomontage maken
Name[zh_TW]=建立相片拼布
Icon=image
Exec=kim_pelemele %U

[Desktop Action SendByMail]
Name=Send by mail
Name[fr]=Envoyer par mail
Name[nl]=Versturen per e-mail
Name[zh_TW]=透過郵件傳遞
Icon=kmail
Exec=kim_resizeandsend %U

[Desktop Action SortByDate]
Name=Sort by date
Name[fr]=Ordonner par date
Name[nl]=Sorteren op datum
Name[zh_TW]=依日期排序
Icon=view-sort-descending
Exec=kim_sortbydate %D %U

[Desktop Action Rename]
Name=Rename images
Name[fr]=Renommer des images
Name[nl]=Afbeeldingsnamen wijzigen
Name[zh_TW]=重新命名圖片
Icon=edit-rename
Exec=kim_rename %D %U

[Desktop Action Adjoin]
Name=Create a multi-files Tiff image
Name[fr]=Créer une image Tiff multi-pages
Name[nl]=TIFF met meerdere pagina's samenstellen
Name[zh_TW]=建立多檔案的 Tiff 影像
Icon=attach
Exec=magick -adjoin %U %D/my_images.tiff

[Desktop Action Animation]
Name=Create a gif animation
Name[fr]=Créer une animation gif
Name[nl]=GIF-animatie maken
Name[zh_TW]=建立 GIF 動畫
Icon=video
Exec=magick -delay `kdialog --inputbox "Kim – Delay between images in delay/100 seconds:" 100` %U %D/my_animation.gif

[Desktop Action Multiburst]
Name=Multiburst image to gif animation
Name[fr]=image multiburst vers animation gif
Name[nl]=GIF-animatie maken uit reeks
Name[zh_TW]=將多張影像轉換成 GIF 動畫
Icon=video
Exec=kim_multiburst %u

[Desktop Action Border]
Name=Add a border
Name[fr]=Ajouter une bordure
Name[nl]=Kader toevoegen
Name[zh_TW]=新增邊框
Icon=image
Exec=kim_treatment border %D %U

#[Desktop Action Album]
#Name=Create a pdf album
#Name[fr]=Créer un album en pdf
#Name[nl]=PDF-album samenstellen
#Icon=pdf
#Exec=kim_album %D %U

[Desktop Action Watermark]
Name=Add text annotation
Name[fr]=Ajouter une annotation
Name[nl]=Aantekening toevoegen
Name[zh_TW]=新增文字註記
Icon=text
Exec=kim_treatment mark %D %U

[Desktop Action License]
Name=License
Name[nl]=Licentie
Name[zh_TW]=版權宣告
Icon=help-about
Exec=kim_other license %U


[Desktop Action Apropos]
Name=About Kim
Name[fr]=A propos de Kim
Name[nl]=Over Kim
Name[zh_TW]=關於 Kim
Icon=help-about
Exec=kim_other about %U

