# Servicemenu image converter
#
# Copyright (C) 2005,2006  Charles Bouveyron <charles.bouveyron@free.fr>
# 
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, U

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,image/*
Actions=Rcprs75;Rcprs80;Rcprs90;RcprsCustom;_SEPARATOR_;Rsize300;Rsize600;Rsize800;Rsize1024;Rsize1200;Rsize1400;RsizeCustom;_SEPARATOR_;WebExp75640;WebExp75800;WebExp751024
Encoding=UTF-8
X-KDE-Submenu=Kim - Compress and Resize
X-KDE-Submenu[fr]=Kim - Compresser et redimensionner

[Desktop Action Rcprs75]
Name=Compress at 75 %
Name[fr]=Compresser à 75 %
Icon=tgz
Exec=kim_compress 75 %D %U

[Desktop Action Rcprs80]
Name=Compress at 80 %
Name[fr]=Compresser à 80 %
Icon=tgz
Exec=kim_compress 80 %D %U

[Desktop Action Rcprs90]
Name=Compress at 90 %
Name[fr]=Compresser à 90 %
Icon=tgz
Exec=kim_compress 90 %D %U

[Desktop Action RcprsCustom]
Name=Compress Custom...
Name[fr]=Compression personnalisée
Icon=tgz
Exec=kim_compress `kdialog --inputbox "Compression rate:" 60` %D %U


[Desktop Action Rsize300]
Name=Resize (300x225 pixels)
Name[fr]=Redimensionner (300x225 pixels)
Icon=crop
Exec=kim_resize 300x300 %D %U

[Desktop Action Rsize600]
Name=Resize (600x450 pixels)
Name[fr]=Redimensionner (600x450 pixels)
Icon=crop
Exec=kim_resize 600x600 %D %U

[Desktop Action Rsize800]
Name=Resize (800x600 pixels)
Name[fr]=Redimensionner (800x600 pixels)
Icon=crop
Exec=kim_resize 800x800 %D %U

[Desktop Action Rsize1024]
Name=Resize (1024x768 pixels)
Name[fr]=Redimensionner (1024x768 pixels)
Icon=crop
Exec=kim_resize 1024x1024 %D %U

[Desktop Action Rsize1200]
Name=Resize (1200x900 pixels)
Name[fr]=Redimensionner (1200x900 pixels)
Icon=crop
Exec=kim_resize 1200x1200 %D %U

[Desktop Action Rsize1400]
Name=Resize (1400x1050 pixels)
Name[fr]=Redimensionner (1400x1050 pixels)
Icon=crop
Exec=kim_resize 1400x1400 %D %U

[Desktop Action RsizeCustom]
Name=Resize Custom...
Name[fr]=Redimensionnement personnalisé
Icon=crop
Exec=kim_resize `kdialog --inputbox "Resize dimension (max width x max height):" 300x300` %D %U

[Desktop Action WebExp75640]
Name=WebExport: 600x450 at 75 %
Name[fr]=Pour le web : 600x450 à 75 %
Icon=html
Exec=kim_webexport 600x600 %D %U

[Desktop Action WebExp75800]
Name=WebExport: 800x600 at 75 %
Name[fr]=Pour le web : 800x600 à 75 %
Icon=html
Exec=kim_webexport 800x800 %D %U

[Desktop Action WebExp751024]
Name=WebExport: 1024x768 at 75 %
Name[fr]=Pour le web : 1024x768 à 75 %
Icon=html
Exec=kim_webexport 1024x1024 %D %U
